{% extends 'base.html' %}

{% block title %} Day {% endblock %}


{% block body %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
        {% if category=='missing file'%}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                   {{message}}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
        {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><a href="/">Courses</a></li>
    <li class="breadcrumb-item"><a href = "/course/{{course}}">{{course}}</a></li>
    <li class="breadcrumb-item" aria-current="page">{{week}}</li>
  </ol>
</nav>


<!--      ____________________tabs___________________-->
<ul class="nav nav-tabs" id="myTab" role="tablist">

  {% for key,value in data.items() %}
  <li class="nav-item">
  {% if loop.index ==1 %}
    <a class="nav-link active" id="t{{loop.index}}-tab" data-toggle="tab" href="#t{{loop.index}}" role="tab" aria-controls="{{loop.index}}" aria-selected="true">{{key}}</a>
   {% else %}
     <a class="nav-link" id="t{{loop.index}}-tab" data-toggle="tab" href="#t{{loop.index}}" role="tab" aria-controls="{{loop.index}}" aria-selected="true">{{key}}</a>
   {% endif %}
   </li>
  {% endfor %}
   {% for key,value in others.items() %}
  <li class="nav-item">
    <a class="nav-link" id="o{{loop.index}}-tab" data-toggle="tab" href="#o{{loop.index}}" role="tab" aria-controls="{{loop.index}}" aria-selected="true">{{key}}</a>
   </li>
  {% endfor %}
</ul>
<!--      ____________________end tabs___________________-->



<!--__________________start data __________-->
<div class="tab-content " id="myTabContent">

  {% for key,value in data.items() %}
    {% if loop.index ==1 %}
      <div class="tab-pane fade show active" id="t{{loop.index}}" role="tabpanel" aria-labelledby="{{loop.index}}-tab">
          <div class="card p-3">
              <h4>{{value['short description']}}</h4>
              {{value['long description']}}
          </div>
    {% else %}
      <div class="tab-pane fade" id="t{{loop.index}}" role="tabpanel" aria-labelledby="{{loop.index}}-tab">
          <div class="card p-3">
              <h4>{{value['short description']}}</h4>
              {{value['long description']}}
          </div>
    {% endif %}

      <!--       _____________DAY_____________-->

              <div class="card p-3">
              {% if "onsite" in value %}
              <h5>ONSITE</h5>
                {% for item in value['onsite']['Class Files'] %}
                <div class=" card-header">
                  <img src = "/static/images/class icons/course.png" style ="width:45px;height:45px;" alt="class image">
                  <a href= "/course/{{course}}/{{week}}/{{key}}/{{item}}" class="card-text"> {{item}}</a>
                </div>
                {% endfor %}
                 {% for item in value['onsite']['Exercises'] %}
                    <div class=" card-header">
                        <img src = "/static/images/class icons/xp.png" style ="width:45px;height:45px;" alt="class image">
                        <a href= "/course/{{course}}/{{week}}/{{key}}/{{item}}" class="card-text"> {{item}}</a>
                    </div>
                {% endfor %}
              {% endif %}

             {% if "online" in value %}
              <h5>ONLINE</h5>
                {% for item in value['online']['Class Files'] %}
                <div class=" card-header">
                  <img src = "/static/images/class icons/course.png" style ="width:45px;height:45px;" alt="class image">
                  <a href= "/course/{{course}}/{{week}}/{{key}}/{{item}}" class="card-text"> {{item}}</a>
                </div>
                {% endfor %}
                {% for item in value['online']['Exercises'] %}
                    <div class=" card-header">
                        <img src = "/static/images/class icons/xp.png" style ="width:45px;height:45px;" alt="class image">
                        <a href= "/course/{{course}}/{{week}}/{{key}}/{{item}}" class="card-text"> {{item}}</a>
                    </div>
                {% endfor %}
            {% endif %}
            </div>
              <!--       _____________end DAY_____________-->


      </div>
  {% endfor %}
  {% for key,value in others.items() %}
      <div class="tab-pane fade" id="o{{loop.index}}" role="tabpanel" aria-labelledby="{{loop.index}}-tab">

            <div class="card p-3">
              <h4>{{value['short description']}}</h4>
              {{value['long description']}}
          </div>

              <!--       _____________DAY_____________-->

            <div class="card p-3">
              {% if "onsite" in value %}
              <h5>ONSITE</h5>
                {% for item in value['onsite'] %}
                <div class=" card-header">
                  <a href= "/course/{{course}}/{{week}}/{{key}}/{{item}}" class="card-text"> {{item}}</a>
                </div>
                {% endfor %}
               {% endif %}
             {% if "online" in value %}
              <h5>ONLINE</h5>
                {% for item in value['online'] %}
                <div class=" card-header">
                  <a href= "/course/{{course}}/{{week}}/{{key}}/{{item}}" class="card-text"> {{item}}</a>
                </div>
                {% endfor %}
            {% endif %}
            </div>
              <!--       _____________end DAY_____________-->
      </div>
  {% endfor %}
</div>

<!--____________________end data __________-->
{% endblock %}