{% extends 'base.html' %}

{% block title %} Day {% endblock %}


{% block body %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><a href="/">Courses</a></li>
    <li class="breadcrumb-item"><a href = "/course/{{course}}">{{course}}</a></li>
    <li class="breadcrumb-item" aria-current="page">{{week}}</li>
  </ol>
</nav>


{% for key,value in data.items() %}
<div class="card">
<!--  <div class="card-header">-->
<!--    lecture/exercise-->
<!--  </div>-->
  <div class="card-body">
    <h5 class="card-title"> {{key}} - {{value['short description']}} </h5>
    <p class="card-text"> {{value['long description']}}.</p>
    <a href="/course/{{course}}/{{week}}/{{key}}" class="btn btn-primary"> {{key}} </a>
  </div>
</div>
{% endfor %}

{% for key,value in others.items() %}
<div class="card">
<!--  <div class="card-header">-->
<!--    lecture/exercise-->
<!--  </div>-->
  <div class="card-body">
    <h5 class="card-title"> {{key}} - {{value['short description']}} </h5>
    <p class="card-text"> {{value['long description']}}.</p>
    <a href="/course/{{course}}/{{week}}/{{key}}" class="btn btn-primary"> {{key}} </a>
  </div>
</div>
{% endfor %}



{% endblock %}