{% extends 'base.html' %}

{% block title %} Resource {% endblock %}


{% block body %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
     <li class="breadcrumb-item" aria-current="page"><a href="/">Courses</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href = "/course/{{course}}">{{course}}</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="/course/{{course}}/{{week}}">{{week}}</a></li>
    <li class="breadcrumb-item" aria-current="page">{{day}}</li>
    <li class="breadcrumb-item active" aria-current="page">{{file}}</li>
  </ol>
</nav>
<h4> Here is a bunch of new info to learn! </h4>
 {{data|safe}}


{% endblock %}