{% extends 'base.html' %}

{% block title %} Resource {% endblock %}


{% block body %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Course(time)</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('days') }}">Days</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('days') }}">Lesson</a></li>
    <li class="breadcrumb-item active" aria-current="page">Exercise</li>
  </ol>
</nav>
<h4> Here is a bunch of new info to learn! </h4>



{% endblock %}