{% extends 'base.html' %}

{% block body %}

<ul>
  <!-- {% for link in links %}
    <li> <a href = "{{link}} ">link</a> </li>
  {% endfor %} -->
  <!-- {{data|safe}} -->
  {% if show == "courses" %}
    {% for key,value in data.items() %}
    <li><a href = "/course/{{key}}">{{key}}</a></li>
    {% endfor %}
  {% endif %}
  {% if show == "weeks" %}
    {% for key,value in data.items() %}
    <li><a href = "/course/{{course}}/{{key}}">{{key}}</a></li>
    {% endfor %}
  {% endif %}

  {% if show == "days" %}
    {% for key,value in data.items() %}
    <li><a href = "/course/{{course}}/{{week}}/{{key}}">{{key}}</a></li>
    {% endfor %}
  {% endif %}

  {% if show == "specific_day" %}
    {% for key,value in data.items() %}
    <li><a href = "/course/{{course}}/{{week}}/{{day}}/{{key}}">{{key}}</a></li>
    {% endfor %}
  {% endif %}
</ul>

  {% if show =="file" %}
    {{data|safe}}
  {% endif %}
{% endblock %}
