{% extends 'base.html' %}

{% block title %} Day {% endblock %}


{% block body %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Course(time)</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('days') }}">Days</a></li>
    <li class="breadcrumb-item active" aria-current="page">Lesson</li>
  </ol>
</nav>

<div class="card">
  <div class="card-header">
    lecture/exercise
  </div>
  <div class="card-body">
    <h5 class="card-title">I'm a Title!</h5>
    <p class="card-text"> With some details about the material within :).</p>
    <a href= "{{ url_for('exercise') }}" class="btn btn-primary"> Exercise Deets</a>
  </div>
</div>


{% endblock %}