{% extends 'base.html' %}

{% block title %} Day {% endblock %}


{% block body %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a href="/">Courses</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href = "/course/{{course}}">{{course}}</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="/course/{{course}}/{{week}}">{{week}}</a></li>
    <li class="breadcrumb-item" aria-current="page">{{day}}</li>
  </ol>
</nav>



<div class="card">
  <div class="card-body">
    <h3>{{day}} - {{data['short description']}}</h3>
  </div>
  {% if "onsite" in data %}
  <h5>ONSITE</h5>
    {% for item in data['onsite']['Class Files'] %}
    <div class=" card-header">
        <img src = "/static/images/class icons/course.png" alt="class image">
      <a href= "/course/{{course}}/{{week}}/{{day}}/{{item}}" class="card-text"> {{item}}</a>
    </div>
    {% endfor %}
     {% for item in data['onsite']['Exercises'] %}
        <div class=" card-header">
            <a href= "/course/{{course}}/{{week}}/{{day}}/{{item}}" class="card-text"> {{item}}</a>
        </div>
    {% endfor %}
  {% endif %}

    {% if "online" in data %}
  <h5>ONLINE</h5>
    {% for item in data['online']['Class Files'] %}
    <div class=" card-header">
        <img src = "/static/images/class icons/course.png" alt="class image">
      <a href= "/course/{{course}}/{{week}}/{{day}}/{{item}}" class="card-text"> {{item}}</a>
    </div>
    {% endfor %}
    {% for item in data['online']['Exercises'] %}
        <div class=" card-header">
            <a href= "/course/{{course}}/{{week}}/{{day}}/{{item}}" class="card-text"> {{item}}</a>
        </div>
    {% endfor %}
  {% endif %}

</div>



{% endblock %}