{% extends 'base.html' %}

{% block title %} Weeks {% endblock %}


{% block body %}

breadcrumb bootstraps feature (like now)


<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"> Week # </h5>
    <h6 class="card-subtitle mb-2 text-muted"> Catchy Name</h6>
    <p class="card-text"> Here's some details about what we cover this week</p>
    <a href="#" class="card-link"> Link to days page </a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>


{% endblock %}